* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}

p {
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transition: 0.5s;

}

.hero {
    background: url('https://t3.ftcdn.net/jpg/04/44/29/88/360_F_444298806_TL4e98PxzTBoFoEWvwKWEOUv25z6XFcx.jpg') no-repeat center center/cover;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    backdrop-filter: blur(10px);

}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);

}

/* .blur {
    backdrop-filter: blur(2px);
    width: fit-content;

} */

.hero_content {
    position: relative;
    margin-top: 20px;
    z-index: 1;
    padding-bottom: 40px;
}


.cropD {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://gumtreetraps.com/wp-content/uploads/2024/03/ecofriendly-farming-1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.icon-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #198754;
    color: #fff;
    font-weight: bold;
}

.pest-banner {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://cdn.pixabay.com/photo/2016/06/29/10/45/ladybug-1486479_1280.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    width: 100%;
    padding: 100px 0;
}